/* static/styles.css */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital@1&display=swap');


@keyframes background-colors {

    0% {
        background-color: #ff7e5f;
    }
    25% {
        background-color: #feb47b;
    }
    50% {
        background-color: #5fafff;
    }
    75% {
        background-color: #7be4fe;
    }
    100% {
        background-color: #ff7e5f;
    }
}

body {
    background-image: url('/static/avenue-815297_1280.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Sometype Mono', monospace;
        height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; /* Align contents to the left */
    align-items: center;
}

.container {
    background:rgba(55, 55, 55, 0.878);
    font-family: 'Sometype Mono', monospace;  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    color: snow;
}

.banner-top {
    color: snow; 
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
    font-family: 'Sometype Mono', monospace;
}

.banner-bottom {
    color: snow;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #333;
    width: 100%;
    font-family: 'Sometype Mono', monospace;
    height: 5%;

}

h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.605);
    font-weight: bold;
    font-family: 'Sometype Mono', monospace;

}

#weatherData {
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
    font-family: 'Sometype Mono', monospace;
    color: snow;
    padding: 8px;
    border-radius: 8px;
    /*background-color: rgba(55, 55, 55, 0.508);*/
}

h2 {
    font-size: 25px;
    font-family: 'Sometype Mono', monospace;
    color: aliceblue;
}

.back-button{
    font-family: 'JetBrains mono',monospace;
    position: relative;
    padding: 8px;
    border-radius: 8px;
    background: dodgerblue;
    color: aliceblue;
    text-transform: capitalize;
    right:110px;
    border-color: white;
    box-shadow: 0px 0px 2px 0px black;
    top: 10px;


}

.back-button:hover{
    background-color: rgb(22, 108, 194);
    color: whitesmoke;
    box-shadow: 0px 2px 4px 0px black;
}

.back-button:active{
    background-color: #ff5f5f;
    color: white;
    box-shadow: 0px -2px 4px 0px black;

}

h3{
    text-align: center;
    text-transform: capitalize;

}

.weather-button{
    font-family: 'JetBrains mono',monospace;
    position: relative;
    padding: 8px;
    border-radius: 8px;
    background: dodgerblue;
    color: snow;
    text-transform: capitalize;
    border-color: white;
    box-shadow: 0px 0px 2px 0px black;
}

.weather-button:hover{
    background-color: rgb(22, 108, 194);
    color: whitesmoke;
    box-shadow: 0px 2px 4px 0px black;
}

.weather-button:active{
    background-color: #1e7c33;
    color: white;
    box-shadow: 0px -2px 4px 0px black;

}
.weather-text{
    text-transform: capitalize;
    font-weight: bold;
    color: black;

}
.banner-uk{
    text-align: right;
    color: white;
    position: relative;
    bottom: 50px;
    right: 20px;
}