<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="banner-top">
        <h3>Welcome to the Weather Dashboard</h3>
    </div>

    <div class="container">
        <h1>Weather Dashboard</h1>
        <form action="/weather" method="GET">
            <label for="postcode">Enter Postcode:</label>
            <input  class="weather-text" type="text" id="postcode" name="postcode" placeholder="   E.g..  BB44 5FE" required>
            <button class="weather-button" type="submit">Confirm</button>
        </form>
        {% if error %}
            <p class="error">Invalid Postcode, make sure its a UK postcode</p>
        {% endif %}
    </div>

    <div class="banner-bottom">
        <h3>Made with ❤️ by Birdo</h3>
        <h3 class="banner-uk">Uk Only</h3>
    </div>
</body>
</html>
